# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
ENV/
env/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# Outputs
output/
temp/
*.log

# OS specific
.DS_Store
Thumbs.db
